@charset "UTF-8";
html {
  font-size : 100%;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height :1.7;
  color: #432;
  margin:0;
}
a {
   text-decoration: none;
}


.fixed-logo {
  width:150px;
  position: fixed; /* 追従させる為にfixedの値を記述します */
z-index: 99999; /* 他の要素の下に隠れないように全面配置させます */
top: 10px; /* 上から150pxのところにバナーを配置します */
left: 10px; /* 右から40pxのところにバナーを配置します */  
}


.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  position: fixed;
   top:0;
   right:50px;
   margin-right:20px;
   z-index: 9999;
   
    
}
.main-nav ul {
  position: absolute;
  top: 100%; /* .navbarの下に配置 */
  right: 0;
  left: 0;
  margin-top: 0;
  padding: 8px;
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
  padding-right:20px;
}

.main-nav-fixed ul {
  transform: translateY(0); /* 変更 */
}

.main-nav li{
  margin-left: 36px;
}
.main-nav a {
  color: #432;
}
.main-nav a:hover{
  background-color: black;
  box-shadow: 0px 15px 20px rgba(212, 248, 234, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.page-header{
  display:flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  width:100%;
  z-index:1;
}
    /* 画像を最大限に拡大する */
    img {
        width: 100%;
        height: auto;
    }
    
    /* スライドショーのコンテナ */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        top: 0;
        left: 0;
    }

    /* Next/prev ボタンのスタイル */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Next ボタンの位置 */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    
    /* スライドのフェードイン / アウトアニメーション */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }
